.container-fluid{
    .container{
        .row{
            .footer-content{
                margin: 25px 0;
                p{
                    font-size: 10px;
                }
                h4{
                    font-size: 20px;
                }
            }
            .social-media-icon{
                img{
                    margin: 0 10px;   
                }
            }

            .coltwo,.colthree,.colfour{
                
                p{
                    font-size: 10px;
                }
                img{
                    margin: 15px 0;
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .dis-none{
        display: none;
    }
    .social-media-icon{
        text-align: center;
    }
}