.slider{
    button{
    width: 200px;
    }
}

@media only screen and (max-width: 600px){
.slider{
    button{
        margin-right: 40px;
        margin-top: 10px;
    }
}
}
@media only screen and (min-width: 600px){

}