.custom-btn{
        button{
            padding: 5px 20px 5px 20px;
            color: #1894FF;
            border: none;
            background-color: #E6F3FF;
            border-radius: 5px;
            margin: 5px 0 5px 0;
            font-size: 15px;
        }

}
