@font-face {
  font-family: Vazir-Medium;
  src: url(/assets/fonts/Vazir-Medium.eot) format("eot"),
    url(/assets/fonts/Vazir-Medium.woff) format("woff"),
    url(/assets/fonts/Vazir-Medium.woff2) format("woff2");
}

* {
  font-family: Vazir-Medium;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
input,
textarea {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

// input:invalid,
// textarea:invalid {
//   border-color: red;
// }
.invalid-input{
  border: red;
}
.mt-6-custom {
  margin-top: 12rem;
}

.mb-6-custom {
  margin-bottom: 12rem;
}

.mt-7-custom {
  margin-top: 5rem;
}

.custom-border {
  border-right: $text_green 3px solid;
  padding-right: 10px;
  color: $text_dark_blue;
}
p {
  color: $text_gray;
}
@media only screen and (max-width: 600px) {
  .custom-display-none {
    display: none;
  }
  .custom-order {
    order: 2;
  }
  .sm-margin-top {
    margin-top: auto;
  }
}
