.support{
    background-color: $bg_medium_blue;
    .container{
        .row{
            .support-content{
                justify-content: space-evenly;
                align-items: center;
                h3{
                    color: $text_white;
                }
                p{
                    color: $text_white;
                }
            }
            .support-img {
                margin: 20px 95px 0 0;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .support-content{
        display: block !important;
        text-align: center !important;
    }
    .support-content  {
        p{
            text-align: center !important;
        }
        
    }
    .support-img{
        text-align: center !important;
        margin: 0px -25px 10px 0 !important;
    }
}