$text_light_blue:#E6F3FF;
$text_medium_blue:#1894FF;
$text_dark_blue:#2361B5;
$text_dark:#000000;
$text_white:#ffffff;
$text_gray:#7a7979;
$text_green:#00DE9A;
$bg_light_blue:#E6F3FF;
$bg_medium_blue:#1894FF;
$bg_dark_blue:#2361B5;
$bg_white:#ffffff;